html{
    font-size: 14px;
}

body{
    background-color:white;
}

header{
    background-color: yellow;
}

.font-family{
    font-family:'Times New Roman', Times, serif;
}

.center{
    opacity: 1;
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
    height: ;
  }

nav{
    text-align: center;
}

nav ol{
    display: inline-block;
    list-style-type: none;
}
li{
    display: inline
}
body aside{
    float: left;
}
aside{
padding: 2%, 2%, 2%, 2%;
}