body{
    margin: 0;
    background-color:white;
    border: 10px solid red;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main>section{
    position: relative;
    float: right;
    text-align: justify;
}
.font-family{
    font-family:'Times New Roman' Times serif;
    font-size: 100%;
}
.figure{
    display: block;
}
.center{
    align-self: start;
    opacity: 1;
    padding: 1%;
    margin: 4% 10% 4% 30%;
    height: 20%;
    width: 40%;
}

nav{
    text-align: center;
}

nav ol{
    display: inline-block;
    list-style-type: none;
}

li{
    display: inline;
}
aside{
    padding: 2% 2% 2% 2%;
    float: left;
}

footer{
    padding: 1em 0;
    background-color: black;
    margin-top: auto;
}

footer>section>article{
    text-align: center;
}

footer>section>article>p{
    display: inline-block;
    color: white;
    padding: 7px 15px 7px 15px;
    text-transform: uppercase;
}